body{
    margin: 0;
    height: 100vh;
}
.header, .footer, .navbar{
background-color: #1F2937;
}
.header{
padding: 150px;
}
.header_content{
    /* justify-content: center;
    align-items: center;
    text-align: center; */
}
.big_logo{
    /* float: right; */
}
.big_sign_up{
    color: white;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
}
.big_text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.navbar, .big_subtext{
    font-size: 18px;
    color: #E5E7EB;
}
.navbar{
    display: flex;
    color: white;
    font-size: larger;
    justify-content:space-evenly;
    gap: 550px;
}
.footer{
    color: white;
    text-align: center;
    padding: 10px;
}
.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    font: light italic;
    color:#1F2937

}
 a, ul, li{
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 10px;
    color: white;
}
.info{
    max-width: 200px;
}
.squares{
    height: 50px;
    width: 50px;
    border:2px blue;
    padding: 50px;
    outline: blue solid 5px;
    border-radius: 25px;
}
.random_info{
    display: flex;
    justify-content: space-evenly;
    padding: 150px;
    margin-top: -90px;
}
.second_big_text{
    text-align: center;
    margin-top: 50px;
    font-weight: bolder;
}
.quote{
    padding: 150px;
}
.sign_up{
    padding: 150px;
    color: white;
}
.sign_up_content{
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    text-align: left;
    padding: 40px;
}
.second_sign_up{
    display: flex;
    background-color: #3882F6;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  outline: solid white ;
  border-radius: 5px;
}
.banner_header{
    font-weight: bolder;
}
.quote_author{
    float: right;
}
.second_sign_up_text{
   display: flex;
   justify-content: space-between;
}
.big_sub_subtext{
    display: flex;
    justify-content: space-between;
}
